@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* layout */
* {
  box-sizing: border-box;
}
html,
body {
  font-family: YuMincho, 'Yu Mincho', serif;
	background-color: #000417;
	color: #fff;
	width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
	font-size: 14px;
	line-height: 20px;
  text-align: center;
  letter-spacing: 0.1em;
}
a {
	text-decoration: none;
  color: #fff;
}
.clear {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.brtb {
  display: block;
}
.brsp {
  display: none;
}
.displaypc {
  display: none;
}
.displaytb {
  display: block;
}
.displaysp {
  display: none;
}
.nondisplaysp {
  display: inline-block;
}
.nondisplay375 {
  display: inline-block;
}
.display375 {
  display: none;
}

/* .page */
.page {
  position: relative;
  height: auto;
  min-height: 100%;
  /* border-bottom: 1px solid red; */
  box-sizing: border-box;
}

/* #top-svg */
#top-svg {
  position: absolute;
  top: 74%;
  width: 100%;
  height: 200%;
  background-image: url('../images/topline.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  background-position: center;
  pointer-events: none;
}

/* #center-svg */
/* #center-svg {
  position: absolute;
  top: calc(400% - 48vh);
  width: 100%;
  height: 200%;
  background-image: url('../images/centerline.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
#center-svg {
  position: relative;
  background: transparent !important;
  display: block !important;
}

/* #bottom-svg */
#bottom-svg {
  position: absolute;
  top: -200px;
  width: 100%;
  height: 100%;
  background-image: url('../images/footerline.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

/* #wrapper */
#wrapper {
  position: relative;
  height: 100%;
}

/* header */
header {
	width: 100vw;
	min-width: 426px;
	max-width: 1024px;
}
header h1 {
	float: left;
	width: 50vw;
	min-width: 213px;
	max-width: 512px;
	text-align: right;
}
header h1 img {
	/* margin-top: 43vh; */
  margin-top: 400px;
	margin-right: 105px;
  width: 73px;
}
header nav {
	float: right;
	width: 50vw;
	min-width: 213px;
	max-width: 512px;
	text-align: left;
	/* margin-top: calc(43vh - 42px); */
  margin-top: 330px;
}
header nav ul {
	margin-left: 100px;
  font-size: 13px;
  line-height: 26px;
}
header nav#navya {
  position: relative;
  height: 200px;
  text-align: left;
}
header nav#navya ul {
  width: 200px;
  margin-left: 37px;
  font-size: 100%;
  font-weight: bold;
  position: absolute;
  top: 20px;
  z-index: 2;
  list-style: none;
}
header nav#navya ul li {
  margin-bottom: 0.8em;
  height: 1em;
}
header nav#navya ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  height: 27px;
  transition: opacity .5s;
}
header nav#navya span.navsankaku {
  width: 30px;
  height: 176px;
  display: block;
  background-image: url('../images/triangle.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 12px;
}
header nav#navya ul li a span.naven,
header nav#navya ul li a span.navja {
 display: block;
 width: 100%;
 position: absolute;
 transition: .5s;
}
header nav#navya ul li a span.naven {
 opacity: 1;
 color: #fff;
}
header nav#navya ul li a span.navja {
 opacity: 0;
 color: #fff;
}
header nav#navya ul li a:hover span.naven {
 opacity: 0;
}
header nav#navya ul li a:hover span.navja {
 opacity: 1;
}

/* #main */
#main {
  position: relative;
  min-height: 64%;
}
#main #main-content {
  width: 100%;
  z-index: 2;
  padding: 20vh 0;
}
#main #main-content img {
  width: 75%;
}

/* #about */
.bg-switcher {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about {
  padding-top: 0;
  min-height: 54%;
}
#about #about-content p {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 132px;
}
#about .about-link-wrapper {
  width: 100%;
  height: 158px;
  display: block;
  margin: 0 auto;
  padding: 70px 0;
  background-image: url('../images/monogatari.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 5;
  position: relative;
  font-size: 14px;
  line-height: 28px;
}
#about .about-link-wrapper .about-link {
  position: relative;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}
#about .about-link-wrapper .about-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#about .about-link-wrapper .about-link:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

/* #about modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #about .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #about .wrap h1{
    font-size: 70px;
  }
  #about .wrap h1 span{
    color: #F42A54;
  }
  #about .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #about .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #about .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #about .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 20px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #about .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #about .wrap {
      width: 100%;
    }
  }

#about .modal {
  color: #fff;
}
#about p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#about #aboutimage {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#about #aboutimage1,
#about #aboutimage2,
#about #aboutimage3 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
}
#about #aboutimage1 {
  background-image: url("../images/story01.png");
  display: block;
}
#about #aboutimage2 {
  background-image: url("../images/story02.jpg");
  display: none;
}
#about #aboutimage3 {
  background-image: url("../images/story03.png");
  display: none;
}
#about #aboutimage p {
  padding-top: 80px;
  font-size: 12px;
  line-height: 24px;
}

/* #cuisine-tb */
#cuisine-tb {
  padding-top: 140px;
  width: 80%;
  margin: 0 auto;
}
#cuisine-tb h2 {
  font-size: 19px;
}
#cuisine-tb .ttlnotes {
  font-size: 14px;
  letter-spacing: 5px;
}
#cuisine-tb ul {
  font-size: 0;
  margin-top: 30px;
}
#cuisine-tb ul li {
  display: inline-block;
  width: 22%;
  padding: 4.5px;
}
#cuisine-tb ul li img {
  width: 100%;
  vertical-align: bottom;
}
#cuisine-tb ul:hover li a:not(:hover) img {
  -webkit-filter: grayscale(100%);   // for Google Chrome and Safari
  -moz-filter: grayscale(100%);      // for Firefox
  -o-filter: grayscale(100%);        // for Oper
  -ms-filter: grayscale(100%);       // for Internet Explorer
  filter: grayscale(100%);
  /* transition: .3s ease; */
}

/* #cuisine */
#cuisine {
  display: none;
}

/* #cuisine-sp */
#cuisine-sp {
  display: none;
}

/* #mastercheff-spkari */
#mastercheff-spkari {
  display: none;
}

/* #matercheff-tb */
#mastercheff-tb {
  display: block;
  padding-top: 340px;
  padding-bottom: 450px;
  background-image: url(../images/mastercheftb.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
/* mastercheff-tb タブレットからPC小 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #mastercheff-tb {
    padding-top: 460px;
    padding-bottom: 570px;
  }
}
#mastercheff-tb h2 {
  font-size: 16px;
}
#mastercheff-tb .ttlnotes {
  font-size: 12px;
}
#mastercheff-tb p {
  margin-top: 36px;
  font-size: 12px;
}
#mastercheff-tb #mastertbmore-modalopenlabel,
#mastercheff-tb #chefftbmore-modalopenlabel {
  cursor: pointer;
  position: relative;
  padding: .4em;
  text-decoration: none;
  display: block;
  width: 30vw;
  min-width: 168px;
  height: 40px;
}
#mastercheff-tb #mastertbmore-modalopenlabel big,
#mastercheff-tb #chefftbmore-modalopenlabel big {
  font-size: 17px;
}
label#mastertbmore-modalopenlabel span:nth-child(1) {
    position: absolute;
    top: 7px;
    right: 76px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    width: 92px;
}
label#mastertbmore-modalopenlabel span:nth-child(2) {
    position: absolute;
    top: 10px;
    right: -66px;
    font-size: 17px;
}
label#chefftbmore-modalopenlabel span:nth-child(1) {
    position: absolute;
    top: 7px;
    left: 94px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    width: 111px;
}
label#chefftbmore-modalopenlabel span:nth-child(2) {
    position: absolute;
    top: 10px;
    left: -20px;
    font-size: 17px;
}
@media screen and (min-width: 561px) and (max-width: 599px) {
  label#mastertbmore-modalopenlabel span:nth-child(1) {
    right: 60px;
  }
  label#chefftbmore-modalopenlabel span:nth-child(1) {
    left: 78px;
  }
}
@media screen and (min-width: 501px) and (max-width: 560px) {
  #mastercheff-tb #mastertbmore-modalopenlabel,
  #mastercheff-tb #chefftbmore-modalopenlabel {
    width: 27vw;
    min-width: 0;
  }
  label#mastertbmore-modalopenlabel span:nth-child(1) {
    right: 40px;
  }
  label#chefftbmore-modalopenlabel span:nth-child(1) {
    left: 58px;
  }
}
@media screen and (min-width: 451px) and (max-width: 500px) {
  #mastercheff-tb #mastertbmore-modalopenlabel,
  #mastercheff-tb #chefftbmore-modalopenlabel {
    width: 27vw;
    min-width: 0;
  }
  label#mastertbmore-modalopenlabel span:nth-child(1) {
    right: 25px;
  }
  label#chefftbmore-modalopenlabel span:nth-child(1) {
    left: 43px;
  }
}
@media screen and (min-width: 426px) and (max-width: 450px) {
  #mastercheff-tb #mastertbmore-modalopenlabel,
  #mastercheff-tb #chefftbmore-modalopenlabel {
    width: 27vw;
    min-width: 0;
  }
  label#mastertbmore-modalopenlabel span:nth-child(1) {
    right: 20px;
  }
  label#chefftbmore-modalopenlabel span:nth-child(1) {
    left: 38px;
  }
}
#mastercheff-tb #mastertbmore-modalopenlabel::after,
#mastercheff-tb #chefftbmore-modalopenlabel::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 70%;
  height: 1px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#mastercheff-tb #mastertbmore-modalopenlabel::after {
  right: 0;
}
#mastercheff-tb #chefftbmore-modalopenlabel::after {
  left: 0;
}
#mastercheff-tb #mastertbmore-modalopenlabel:hover::after,
#mastercheff-tb #chefftbmore-modalopenlabel:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
#master h2#masterttl {
  float: left;
  /* width: 10vw; */
  width: 14vw;
  margin-top: 102px;
}
#mastercontent {
  float: left;
  /* width: 40vw; */
  width: 35vw;
  text-align: right;
}
/* #master modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #master .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #master .wrap h1{
    font-size: 70px;
  }
  #master .wrap h1 span{
    color: #F42A54;
  }
  #master .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #master .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #master .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #master .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 20px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #master .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #master .wrap {
      width: 100%;
    }
  }

#master .modal {
  color: #fff;
}
#master p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#master #masterimage {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#master #masterimage1 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
  background-image: url("../images/master.jpg");
  display: block;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60vh;
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  #master #masterimage1 {
    background-position: top center;
    background-image: url("../images/mastertb.png");
  }
}
#master #masterimage h2 {
  display: inline-block;
  margin-top: 12px;
  text-align: center;
}
#master #masterimage h2#mastermodalttl {
  position: absolute;
  left: 200px;
  margin-top: 0;
}
#master #masterimage p {
  font-size: 12px;
  line-height: 25px;
}

#cheff h2#cheffttl {
  float: right;
  /* width: 10vw; */
  width: 14vw;
  margin-top: 102px;
}
#cheffcontent {
  float: right;
  /* width: 40vw; */
  width: 35vw;
  text-align: left;
}
/* #cheff modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #cheff .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #cheff .wrap h1{
    font-size: 70px;
  }
  #cheff .wrap h1 span{
    color: #F42A54;
  }
  #cheff .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #cheff .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #cheff .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #cheff .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 20px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #cheff .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #cheff .wrap {
      width: 100%;
    }
  }

#cheff .modal {
  color: #fff;
}
#cheff p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#cheff #cheffimage {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#cheff #cheffimage1 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
  background-image: url("../images/cheff.png");
  display: block;
  text-align: right;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60vh;
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  #cheff #cheffimage1 {
    background-position: top center;
    background-image: url("../images/chefftb.png");
  }
}
#cheff #cheffimage h2 {
  display: inline-block;
  text-align: center;
}
#cheff #cheffimage h2#cheffmodalttl {
  position: absolute;
  right: 200px;
  margin-top: 12px;
}
#cheff #cheffimage p {
  font-size: 12px;
  line-height: 25px;
}

/* #mastercheff */
#mastercheff {
  display: none;
}

/* #element */
#element {
  display: none;
}
#element-sp {
  display: none;
}
#element-tb {
  padding-top: 0;
}
#element-tb h2 {
  font-size: 19px;
  margin-top: -130px;
}
#element-tb .ttlnotes {
  font-size: 14px;
  letter-spacing: 5px;
}
#element-tb p {
  font-size: 15px;
  line-height: 30px;
  margin-top: 67px;
  margin-bottom: 122px;
}
#element-tb ul {
  font-size: 0;
  /* width: 682px; */
  width: 768px;
  height: 322px;
  letter-spacing: 0;
  margin: 0 auto;
  background-size: 46%;
  background-repeat: no-repeat;
}
#element-tb #elementtbul01 {
  background-image: url('../images/recommend02.png');
  background-position: top center;
}
#element-tb #elementtbul02 {
  background-image: url('../images/recommend01.jpg'), url('../images/recommend03.jpg');
  background-position: left bottom, right bottom;
}
#element-tb li {
  display: inline-block;
  /* width: calc(33% - 30px * 2); */
  width: 193px;
  height: 256px;
  margin: 34px 74px;
  font-size: 14px;
  position: relative;
  border: 1px solid #fff;
}
#element-tb li#elementtb001 {
  margin-right: 112px;
}
#element-tb li#elementtb003 {
  margin-left: 112px;
}
#element-tb li:hover {
  border: 1px solid #fff;
}
#element-tb li > label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 0;
}
#element-tb label span.elementkana {
  letter-spacing: 0.2em;
}
#element-tb label span.elementalpha {
  font-size: 12px;
}
#element-tb label.elementup span {
  position: relative;
  top: 34px;
}
#element-tb label.elementdown span {
  position: relative;
  bottom: -190px;
}
/* #elementtb001 modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #elementtb001 .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #elementtb001 .wrap h1{
    font-size: 70px;
  }
  #elementtb001 .wrap h1 span{
    color: #F42A54;
  }
  #elementtb001 .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #elementtb001 .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #elementtb001 .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #elementtb001 .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 20px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #elementtb001 .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #elementtb001 .wrap {
      width: 100%;
    }
  }
#elementtb001 .modal {
  color: #fff;
}
#elementtb001 p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#elementtb001 h2 {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  display: inline-block;
  width: 186px;
  height: 350px;
  padding: 288px 34px 30px 34px;
  position: absolute;
  left: 0;
  font-size: 15px;
}
#elementtb001 h2 span.elementmodalalpha {
  font-size: 12px;
}
#elementtb001 p {
  font-size: 13px;
  line-height: 26px;
  position: absolute;
  top: 54vh;
  left: 55px;
}
#elementtb001 #elementtb001image {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#elementtb001 #elementtb001image1,
#elementtb001 #elementtb001image2,
#elementtb001 #elementtb001image3,
#elementtb001 #elementtb001image4 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  overflow: scroll;
}
#elementtb001 #elementtb001image1 {
  background-image: url("../images/wagyu01.png");
  display: block;
}
#elementtb001 #elementtb001image2 {
  background-image: url("../images/wagyu02.png");
  display: none;
}
#elementtb001 #elementtb001image3 {
  background-image: url("../images/wagyu03.png");
  display: none;
}
#elementtb001 #elementtb001image4 {
  background-image: url("../images/wagyu04.png");
  display: none;
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  #elementtb001 #elementtb001image1 {
    background-image: url("../images/wagyutb01.png");
  }
  #elementtb001 #elementtb001image2 {
    background-image: url("../images/wagyutb02.png");
  }
  #elementtb001 #elementtb001image3 {
    background-image: url("../images/wagyutb03.png");
  }
  #elementtb001 #elementtb001image4 {
    background-image: url("../images/wagyutb04.png");
  }
}
/* #elementtb002 modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #elementtb002 .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #elementtb002 .wrap h1{
    font-size: 70px;
  }
  #elementtb002 .wrap h1 span{
    color: #F42A54;
  }
  #elementtb002 .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #elementtb002 .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #elementtb002 .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #elementtb002 .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 20px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #elementtb002 .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #elementtb002 .wrap {
      width: 100%;
    }
  }
#elementtb002 .modal {
  color: #fff;
}
#elementtb002 p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#elementtb002 h2 {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  display: inline-block;
  width: 186px;
  height: 350px;
  padding: 288px 25px 30px 25px;
  position: absolute;
  left: 0;
  font-size: 15px;
}
#elementtb002 h2 span.elementmodalalpha {
  font-size: 12px;
}
#elementtb002 p {
  font-size: 13px;
  line-height: 26px;
  position: absolute;
  top: 54vh;
  left: 55px;
}
#elementtb002 #elementtb002image {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#elementtb002 #elementtb002image1,
#elementtb002 #elementtb002image2,
#elementtb002 #elementtb002image3,
#elementtb002 #elementtb002image4 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  overflow: scroll;
}
#elementtb002 #elementtb002image1 {
  background-image: url("../images/yasai01.png");
  display: block;
}
#elementtb002 #elementtb002image2 {
  background-image: url("../images/yasai02.png");
  display: none;
}
#elementtb002 #elementtb002image3 {
  background-image: url("../images/yasai03.png");
  display: none;
}
#elementtb002 #elementtb002image4 {
  background-image: url("../images/yasai04.png");
  display: none;
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  #elementtb002 #elementtb002image1 {
    background-image: url("../images/yasaitb01.png");
  }
  #elementtb002 #elementtb002image2 {
    background-image: url("../images/yasaitb02.png");
  }
  #elementtb002 #elementtb002image3 {
    background-image: url("../images/yasaitb03.png");
  }
  #elementtb002 #elementtb002image4 {
    background-image: url("../images/yasaitb04.png");
  }
}
/* #elementtb003 modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #elementtb003 .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #elementtb003 .wrap h1{
    font-size: 70px;
  }
  #elementtb003 .wrap h1 span{
    color: #F42A54;
  }
  #elementtb003 .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #elementtb003 .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #elementtb003 .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #elementtb003 .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 20px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #elementtb003 .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #elementtb003 .wrap {
      width: 100%;
    }
  }
#elementtb003 .modal {
  color: #fff;
}
#elementtb003 p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#elementtb003 h2 {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  display: inline-block;
  width: 186px;
  height: 350px;
  padding: 288px 34px 30px 34px;
  position: absolute;
  left: 0;
  font-size: 15px;
}
#elementtb003 h2 span.elementmodalalpha {
  font-size: 12px;
}
#elementtb003 p {
  font-size: 13px;
  line-height: 26px;
  position: absolute;
  top: 54vh;
  left: 55px;
}
#elementtb003 #elementtb003image {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#elementtb003 #elementtb003image1,
#elementtb003 #elementtb003image2,
#elementtb003 #elementtb003image3,
#elementtb003 #elementtb003image4 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  overflow: scroll;
}
#elementtb003 #elementtb003image1 {
  background-image: url("../images/niku01.png");
  display: block;
}
#elementtb003 #elementtb003image2 {
  background-image: url("../images/niku02.png");
  display: none;
}
#elementtb003 #elementtb003image3 {
  background-image: url("../images/niku03.png");
  display: none;
}
#elementtb003 #elementtb003image4 {
  background-image: url("../images/niku04.png");
  display: none;
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  #elementtb003 #elementtb003image1 {
    background-image: url("../images/nikutb01.png");
  }
  #elementtb003 #elementtb003image2 {
    background-image: url("../images/nikutb02.png");
  }
  #elementtb003 #elementtb003image3 {
    background-image: url("../images/nikutb03.png");
  }
  #elementtb003 #elementtb003image4 {
    background-image: url("../images/nikutb04.png");
  }
}

/* #information */
#information {
  padding-top: 180px;
  margin-bottom: 240px;
}
#info-sp {
  display: block;
}
#info-sp h2 {
  font-size: 19px;
  line-height: 24px;
}
#info-sp .ttlnotes {
  font-size: 14px;
  letter-spacing: 5px;
}
#info-sp .fs-14 {
  font-size: 14px;
}
#info-sp p {
  font-size: 12px;
  padding-top: 80px;
  padding-bottom: 80px;
}
#infoleft {
  float: none;
  width: 192px;
  text-align: center;
  margin: 0 auto;
}
#infoleft img {
  width: 192px;
}
.slideshow {
  position: relative;
}
.slideshow img {
  width: 100%;
  height: auto;
  display: none;
  position: absolute;
  right: 0;
}
#inforight {
  float: none;
  width: auto;
  text-align: center;
  padding-top: 350px;
  padding-left: 0;
}
#inforight h2 {
  font-size: 17px;
  margin-bottom: 70px;
  display: none;
}
#inforight .ttlnotes {
  font-size: 12px;
}
.infoname {
  font-size: 16px;
}
#inforight p {
  font-size: 14px;
  margin-bottom: 60px;
  letter-spacing: 0.1em;
  line-height: 29px;
}
#inforight p:nth-of-type(1) {
  display: none;
}


/* footer */
footer {
  height: 1100px;
  position: relative;
}
footer ul li {
  font-size: 13px;
  line-height: 18px;
}
footer ul li a {
  position: relative;
  display: inline-block;
  padding: .8em 0 1px 0;
  text-decoration: none;
}
footer ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
footer ul li a:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
footer h2 {
  font-size: 17px;
  margin-top: 120px;
  margin-bottom: 40px;
}
footer .ttlnotes {
  font-size: 11px;
}
#footershopinfo {
  margin-bottom: 250px;
  line-height: 28px;
}
#footerlogo {
  margin-bottom: 250px;
}
#footerlogo img {
  width: 73px;
  margin-bottom: 40px;
}

/* .button1 */
.button1 {
  position: relative;
  display: inline-block;
  padding: .9em 3.6em;
  /* border: 1px solid transparent; */
  /* color: transparent; */
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: all .6s;
}
.button1::before,
.button1::after {
  position: absolute;
  z-index: 2;
  content: '';
  width: 0;
  height: 0;
  border: 1px solid transparent;
}
.button1::before {
  top: -1px;
  left: -1px;
}
.button1::after {
  bottom: -1px;
  right: -1px;
}
.button1:link {
  color: #fff;
}
.button1:link::before,
.button1:link::after {
  width: 100%;
  height: 100%;
}
.button1:link::before {
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: height 0, width 0 0;
}
.button1:link::after {
  border-top-color: #fff;
  border-right-color: #fff;
  transition: height 0, width 0 0;
}
.button1:visited {
  color: #fff;
}
.button1:visited::before,
.button1:visited::after {
  width: 100%;
  height: 100%;
}
.button1:visited::before {
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: height 0, width 0 0;
}
.button1:visited::after {
  border-top-color: #fff;
  border-right-color: #fff;
  transition: height 0, width 0 0;
}
.button1:hover {
  color: #fff;
}
.button1:hover::before,
.button1:hover::after {
  width: 100%;
  height: 100%;
}
.button1:hover::before {
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: height .3s, width .3s .3s;
}
.button1:hover::after {
  border-top-color: #fff;
  border-right-color: #fff;
  transition: height .3s, width .3s .3s;
}
.button1:active {
  color: #fff;
}
.button1:active::before,
.button1:active::after {
  width: 100%;
  height: 100%;
}
.button1:active::before {
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: height 0, width 0 0;
}
.button1:active::after {
  border-top-color: #fff;
  border-right-color: #fff;
  transition: height 0, width 0 0;
}
.button1:focus {
  color: #fff;
}
.button1:focus::before,
.button1:focus::after {
  width: 100%;
  height: 100%;
}
.button1:focus::before {
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: height 0, width 0 0;
}
.button1:focus::after {
  border-top-color: #fff;
  border-right-color: #fff;
  transition: height 0, width 0 0;
}
