@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* layout */
* {
  box-sizing: border-box;
}
html,
body {
  font-family: YuMincho, 'Yu Mincho', serif;
  background-color: #000417;
  color: #fff;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1em;
}
a {
  text-decoration: none;
  color: #fff;
}
.clear {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.brtb {
  display: block;
}
.brsp {
  display: block;
}
.displaypc {
  display: none;
}
.displaytb {
  display: none;
}
.displaysp {
  display: block;
}
.nondisplaysp {
  display: none;
}
.nondisplay375 {
  display: inline-block;
}
.display375 {
  display: none;
}
/* スマホ小 */
@media screen and (max-width:424px) {
  .nondisplay375 {
    display: none;
  }
  .display375 {
    display: inline-block;
  }
}

/* .page */
.page {
  position: relative;
  height: auto;
  min-height: 100%;
  /* border-bottom: 1px solid red; */
  box-sizing: border-box;
}

/* #top-svg */
#top-svg {
  position: absolute;
  bottom: calc(-380 / 425 * 100vw);
  width: 100%;
  height: 200%;
  background-image: url('../images/topline_mobile.svg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  background-position: center;
  pointer-events: none;
}

/* #center-svg */
/* #center-svg {
  position: absolute;
  top: calc(400% - 48vh);
  width: 100%;
  height: 200%;
  background-image: url('../images/centerline.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
#center-svg {
  position: relative;
  background: transparent !important;
  display: block !important;
}

/* #bottom-svg */
#bottom-svg {
  position: absolute;
  top: -200px;
  width: 100%;
  height: 100%;
  background-image: url('../images/footerline.svg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

/* #wrapper */
#wrapper {
  position: relative;
  height: 100%;
}

/* header */
header {
  width: 100vw;
  min-width: 320px;
  max-width: 425px;
}
header h1 {
  float: left;
  width: 130px;
  text-align: right;
}
@media screen and (min-width: 321px) and (max-width: 375px) {
  header h1 {
    width: 120px;
  }
}
@media screen and (max-width: 320px) {
  header h1 {
    width: 110px;
  }
}
header h1 img {
  margin-top: 44vh;
  width: 50px;
}
header nav {
  float: right;
  width: 60vw;
  min-width: 192px;
  max-width: 255px;
  text-align: left;
  margin-top: calc(43vh - 77px);
  /* margin-top: 330px; */
}
header nav ul {
  margin-left: 100px;
  font-size: 13px;
  line-height: 26px;
}
header nav#navya {
  position: relative;
  height: 210px;
  text-align: left;
}
header nav#navya ul {
  width: 160px;
  margin-left: 37px;
  font-size: 100%;
  font-weight: bold;
  position: absolute;
  top: 20px;
  z-index: 2;
  list-style: none;
}
header nav#navya ul li {
  margin-bottom: 0.8em;
  height: 1.5em;
}
header nav#navya ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  height: 27px;
  transition: .5s;
}
header nav#navya span.navsankaku {
  width: 25px;
  height: 176px;
  display: block;
  background-image: url('../images/triangle.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 12px;
  left: 5px;
}
header nav#navya ul li a span.naven,
header nav#navya ul li a span.navja {
 display: block;
 width: 100%;
 position: absolute;
 transition: opacity .5s;
}
header nav#navya ul li a span.naven {
 opacity: 1;
 color: #fff;
}
header nav#navya ul li a span.navja {
 opacity: 0;
 color: #fff;
}
header nav#navya ul li a:hover span.naven {
 opacity: 0;
}
header nav#navya ul li a:hover span.navja {
 opacity: 1;
}

/* #main */
#main {
  position: relative;
  min-height: 0;
}
#main #main-content {
  width: 100%;
  z-index: 2;
  padding: 0 0 10vh 0;
  overflow: hidden;
}
#main #main-content img {
  width: 100%;
  transform: scale(1.1);
}

/* #about */
.bg-switcher {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about {
  padding-top: 100px;
  min-height: 0;
}
#about #about-content p {
  font-size: 13px;
  line-height: 28px;
  margin-top: 65px;
  margin-bottom: 95px;
}
#about .about-link-wrapper {
  width: 100%;
  height: 110px;
  display: block;
  margin: 0 auto;
  padding: 43px 0;
  background-image: url('../images/monogatari.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 5;
  position: relative;
  font-size: 15px;
  line-height: 24px;
}
@media screen and (min-width: 321px) and (max-width: 375px) {
  #about .about-link-wrapper {
    height: 97px;
    padding: 37px 0;
  }
}
@media screen and (max-width: 320px) {
  #about .about-link-wrapper {
    height: 82px;
    padding: 29px 0;
  }
}
#about .about-link-wrapper .about-link {
  position: relative;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}
#about .about-link-wrapper .about-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#about .about-link-wrapper .about-link:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

/* #about modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #about .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #about .wrap h1{
    font-size: 70px;
  }
  #about .wrap h1 span{
    color: #F42A54;
  }
  #about .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #about .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #about .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #about .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 20px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #about .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #about .wrap {
      width: 100%;
    }
  }

#about .modal {
  color: #fff;
}
#about p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#about #aboutimage {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#about #aboutimage1,
#about #aboutimage2,
#about #aboutimage3 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
}
#about #aboutimage1 {
  background-image: url("../images/story01.png");
  display: block;
}
#about #aboutimage2 {
  background-image: url("../images/story02.jpg");
  display: none;
}
#about #aboutimage3 {
  background-image: url("../images/story03.png");
  display: none;
}
#about #aboutimage p {
  padding-top: 45px;
  font-size: 12px;
  line-height: 25px;
}

/* #cuisine-sp */
#cuisine-sp {
  padding-top: 90px;
  width: 100%;
  margin: 0 auto;
}
#cuisine-sp h2 {
  font-size: 19px;
}
#cuisine-sp .ttlnotes {
  font-size: 12px;
  letter-spacing: 5px;
}
#cuisine-sp ul {
  font-size: 0;
  margin-top: 30px;
}
#cuisine-sp ul li {
  display: inline-block;
  width: 22%;
  /* width: 90px; */
  padding: 2.5px;
}
#cuisine-sp ul li img {
  width: 100%;
  vertical-align: bottom;
}
#cuisine-sp ul:hover li a:not(:hover) img {
  -webkit-filter: grayscale(100%);   // for Google Chrome and Safari
  -moz-filter: grayscale(100%);      // for Firefox
  -o-filter: grayscale(100%);        // for Oper
  -ms-filter: grayscale(100%);       // for Internet Explorer
  filter: grayscale(100%);
  /* transition: .3s ease; */
}

/* #cuisine-tb */
#cuisine-tb {
  display: none;
}

/* #cuisine */
#cuisine {
  display: none;
}

/* #mastercheff-spkari */
#mastercheff-spkari {
  display: none;
  padding-top: 100px;
}
/* #mastercheff-sp .clip-path-polygon li.active a::after,
#mastercheff-sp .clip-path-polygon li.active .a::after {
  background: #ddd;
}
#mastercheff-sp .clip-path-polygon li:nth-of-type(1) {
  z-index: 4;
}
#mastercheff-sp .clip-path-polygon li:nth-of-type(2) {
  z-index: 3;
}
#mastercheff-sp .clip-path-polygon li:nth-of-type(3) {
  z-index: 2;
}
#mastercheff-sp .clip-path-polygon li:nth-of-type(4) {
  z-index: 1;
}
#mastercheff-sp .clip-path-polygon a:hover::after {
  background: #ddd;
}
#mastercheff-sp .clip-path-polygon a::before,
#mastercheff-sp .clip-path-polygon a::after,
#mastercheff-sp .clip-path-polygon .a::before,
#mastercheff-sp .clip-path-polygon .a::after {
  content: '';
  display: block;
  height: calc(100% + 2px);
  width: 120px;
  position: absolute;
  top: -1px;
  right: -120px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 30px 50%);
          clip-path: polygon(0 0, 0% 100%, 30px 50%);
}
#mastercheff-sp .clip-path-polygon a::before,
#mastercheff-sp .clip-path-polygon .a::before {
  right: -119px;
  background: inherit;
  z-index: 1;
}
#mastercheff-sp .clip-path-polygon a::after,
#mastercheff-sp .clip-path-polygon .a::after {
  right: -120px;
  background: #336;
} */
#mastercheff-spkari .after-as-rhombus {
  position: relative;
  height: 500px;
  overflow: hidden;
}
#mastercheff-spkari .after-as-rhombus li {
  position: relative;
  display: inline-block;
}
#mastercheff-spkari .after-as-rhombus li:nth-of-type(1) {
  z-index: 2;
}
#mastercheff-spkari .after-as-rhombus li:nth-of-type(2) {
  z-index: 1;
}
#mastercheff-spkari .after-as-rhombus a:hover::after {
  border-color: #ddd;
}
#mastercheff-spkari .after-as-rhombus a::after {
  content: '';
  display: block;
  height: 302px;
  width: 302px;
  -webkit-transform: rotate(45deg) skew(0deg, 0deg);
          transform: rotate(45deg) skew(0deg, 0deg);
  position: absolute;
  top: 60px;
  z-index: -1;
  background-size: contain;
  border: 1px #fff solid;
}
.after-as-rhombus1 span {
  position: absolute;
  top: 190px;
  left: -185px;
}
.after-as-rhombus1 span:nth-of-type(2) {
  top: 200px;
  left: -85px;
}
.after-as-rhombus2 span {
  position: absolute;
  top: 190px;
  right: -185px;
}
.after-as-rhombus2 span:nth-of-type(2) {
  top: 200px;
  right: -85px;
}
#mastercheff-spkari .after-as-rhombus .after-as-rhombus1 a::after {
  right: 13.7vw;
  background-image: url('../images/master-mobile.png');
  background-position: center;
}
#mastercheff-spkari .after-as-rhombus .after-as-rhombus2 a::after {
  left: 14.3vw;
  background-image: url('../images/cheff-mobile.png');
  background-position: center;
}
/* スマホ中 */
@media screen and (min-width:375px) and (max-width:424px) {
  #mastercheff-spkari .after-as-rhombus .after-as-rhombus1 a::after {
    right: 15vw;
    background-position: 19px -2px;
  }
  #mastercheff-spkari .after-as-rhombus .after-as-rhombus2 a::after {
    left: 16.9vw;
    background-position: 0 25px;
  }
}
/* スマホ小 */
@media screen and (max-width:374px) {
  #mastercheff-spkari .after-as-rhombus .after-as-rhombus1 a::after {
    right: 17vw;
    background-position: 26px -9px;
  }
  #mastercheff-spkari .after-as-rhombus .after-as-rhombus2 a::after {
    left: 20vw;
    background-position: -6px 48px;
  }
}

/* #matercheff-tb */
#mastercheff-tb {
  display: block;
  padding-top: 200px;
  padding-bottom: 310px;
  margin-top: 30px;
  background-image: url(../images/mastercheftb.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
/* スマホ中 */
@media screen and (min-width:375px) and (max-width:424px) {
  #mastercheff-tb {
    padding-top: 180px;
    padding-bottom: 290px;
  }
}
/* スマホ小 */
@media screen and (max-width:374px) {
  #mastercheff-tb {
    padding-top: 160px;
    padding-bottom: 270px;
  }
}
#mastercheff-tb h2 {
  font-size: 16px;
}
#mastercheff-tb .ttlnotes {
  font-size: 12px;
}
#mastercheff-tb p {
  margin-top: 40px;
  font-size: 12px;
}
#mastercheff-tb #mastertbmore-modalopenlabel,
#mastercheff-tb #chefftbmore-modalopenlabel {
  cursor: pointer;
  position: relative;
  padding: .4em;
  text-decoration: none;
  display: block;
  width: 42vw;
  height: 40px;
}
#mastercheff-tb #mastertbmore-modalopenlabel big,
#mastercheff-tb #chefftbmore-modalopenlabel big {
  font-size: 15px;
}
label#mastertbmore-modalopenlabel span:nth-child(1) {
  position: absolute;
  top: 23px;
  left: 37px;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  width: 81px;
}
label#mastertbmore-modalopenlabel span:nth-child(2) {
  position: absolute;
  top: -13px;
  left: 43px;
  font-size: 14px;
}
label#chefftbmore-modalopenlabel span:nth-child(1) {
  position: absolute;
  top: 23px;
  right: 24px;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  width: 98px;
}
label#chefftbmore-modalopenlabel span:nth-child(2) {
  position: absolute;
  top: -13px;
  right: 55px;
  font-size: 14px;
}
@media screen and (max-width: 390px) {
  #mastercheff-tb #mastertbmore-modalopenlabel, #mastercheff-tb #chefftbmore-modalopenlabel {
    width: 44vw;
  }
  #mastercheff-tb #mastertbmore-modalopenlabel big,
  #mastercheff-tb #chefftbmore-modalopenlabel big {
    font-size: 15px;
  }
  label#mastertbmore-modalopenlabel span:nth-child(1) {
    width: 81px;
  }
  label#mastertbmore-modalopenlabel span:nth-child(2) {
    font-size: 14px;
  }
  label#chefftbmore-modalopenlabel span:nth-child(1) {
    width: 98px;
  }
  label#chefftbmore-modalopenlabel span:nth-child(2) {
    font-size: 14px;
  }
}
@media screen and (max-width: 350px) {
  label#mastertbmore-modalopenlabel span:nth-child(1) {
    left: 22px;
  }
  label#mastertbmore-modalopenlabel span:nth-child(2) {
    left: 28px;
  }
  label#chefftbmore-modalopenlabel span:nth-child(1) {
    right: 14px;
  }
  label#chefftbmore-modalopenlabel span:nth-child(2) {
    right: 45px;
  }
}
/* @media screen and (min-width: 331px) and (max-width: 370px) {
  label#mastertbmore-modalopenlabel span:nth-child(1) {
    left: 10px;
  }
  label#chefftbmore-modalopenlabel span:nth-child(1) {
    right: 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 330px) {
  label#mastertbmore-modalopenlabel span:nth-child(1) {
    left: 5px;
  }
  label#chefftbmore-modalopenlabel span:nth-child(1) {
    right: 5px;
  }
} */
#master h2#masterttl {
  float: left;
  /* width: 10vw; */
  width: 14vw;
  margin-top: 102px;
}
#mastercontent {
  float: left;
  width: 42vw;
  text-align: right;
}
@media screen and (max-width: 390px) {
  #mastercontent {
    width: 44vw;
  }
}
/* #master modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #master .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #master .wrap h1{
    font-size: 70px;
  }
  #master .wrap h1 span{
    color: #F42A54;
  }
  #master .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #master .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #master .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #master .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 20px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #master .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #master .wrap {
      width: 100%;
    }
  }

#master .modal {
  color: #fff;
}
#master p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#master #masterimage {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#master #masterimage1 {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/mastersp.png");
  display: block;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  /* padding-top: 57vh; */
  overflow: scroll;
}
#master #masterimage h2 {
  display: inline-block;
  /* margin-top: 12px; */
  text-align: center;
  position: absolute;
  left: 30px;
  bottom: calc(12% + 125px + 70px);
}
#master #masterimage h2#mastermodalttl {
  position: absolute;
  left: 145px;
  margin-top: 0;
  bottom: calc(12% + 125px + 60px);
}
#master #masterimage p {
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 12%;
}

#cheff h2#cheffttl {
  float: right;
  /* width: 10vw; */
  width: 14vw;
  margin-top: 102px;
}
#cheffcontent {
  float: right;
  width: 42vw;
  text-align: left;
}
@media screen and (max-width: 390px) {
  #cheffcontent {
    width: 44vw;
  }
}
/* #cheff modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #cheff .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #cheff .wrap h1{
    font-size: 70px;
  }
  #cheff .wrap h1 span{
    color: #F42A54;
  }
  #cheff .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #cheff .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #cheff .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #cheff .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 20px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #cheff .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #cheff .wrap {
      width: 100%;
    }
  }

#cheff .modal {
  color: #fff;
}
#cheff p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#cheff #cheffimage {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#cheff #cheffimage1 {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/cheffsp.png");
  display: block;
  text-align: right;
  padding-right: 30px;
  padding-left: 30px;
  /* padding-top: 57vh; */
  overflow: scroll;
}
#cheff #cheffimage h2 {
  display: inline-block;
  text-align: center;
  position: absolute;
  right: 30px;
  bottom: calc(12% + 125px + 60px);
}
#cheff #cheffimage h2#cheffmodalttl {
  position: absolute;
  right: 145px;
  margin-top: 0;
  bottom: calc(12% + 125px + 70px);
}
#cheff #cheffimage p {
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 8%;
}

/* #mastercheff */
#mastercheff {
  display: none;
}

/* #element */
#element {
  display: none;
  padding-top: 520px;
}
#element-tb {
  display: none;
}
#element-sp {
  display: block;
  margin-top: -50px;
  padding-top: 0;
  padding-bottom: 50px;
}
#element-sp h2 {
  font-size: 19px;
}
#element-sp .ttlnotes {
  font-size: 12px;
  letter-spacing: 5px;
}
#element-sp p {
  font-size: 13px;
  line-height: 28px;
  margin-top: 50px;
  margin-bottom: 90px;
}
/* スマホ小 */
@media screen and (max-width:374px) {
  #element-sp p {
    font-size: 12px;
  }
}
#element-sp ul {
  font-size: 0;
  width: 250%;
  height: 334px;
  letter-spacing: 0;
  margin: 0 auto;
  background-image: url('../images/recommend01.jpg'), url('../images/recommend02.png'), url('../images/recommend03.jpg');
  background-position: left bottom, center top, right bottom;
  background-size: calc(100% / 3);
  background-repeat: no-repeat;
}
/* スマホ中 */
@media screen and (min-width:375px) and (max-width:424px) {
  #element-sp ul {
    height: 293px;
  }
}
/* スマホ小 */
@media screen and (max-width:374px) {
  #element-sp ul {
    height: 252px;
  }
}
#element-sp li {
  display: inline-block;
  /* width: calc(33% - 30px * 2); */
  width: 194px !important;
  height: 258px;
  margin: 38px auto;
  font-size: 14px;
  position: relative;
  border: 1px solid #fff;
}
/* スマホ中 */
@media screen and (min-width:375px) and (max-width:424px) {
  #element-sp li {
    width: 170px !important;
    height: 230px;
    margin: 30px auto;
  }
}
/* スマホ小 */
@media screen and (max-width:374px) {
  #element-sp li {
    width: 146px !important;
    height: 196px;
    margin: 28px auto;
  }
}
#element-sp li:hover {
  border: 1px solid #fff;
}
#element-sp li > label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 0;
}
#element-sp label span.elementkana {
  letter-spacing: 1px;
}
#element-sp label span.elementalpha {
  font-size: 11px;
}
#element-sp label.elementup span {
  position: relative;
  top: 34px;
}
#element-sp label.elementdown span {
  position: relative;
  bottom: -190px;
}
/* スマホ中 */
@media screen and (min-width:375px) and (max-width:424px) {
  #element-sp label.elementdown span {
    bottom: -166px;
  }
}
/* スマホ小 */
@media screen and (max-width:374px) {
  #element-sp label.elementdown span {
    bottom: -130px;
  }
}
/* #element001 modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #elementspmodal01 .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #elementspmodal01 .wrap h1{
    font-size: 70px;
  }
  #elementspmodal01 .wrap h1 span{
    color: #F42A54;
  }
  #elementspmodal01 .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #elementspmodal01 .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #elementspmodal01 .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #elementspmodal01 .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 20px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #elementspmodal01 .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #elementspmodal01 .wrap {
      width: 100%;
    }
  }
#elementspmodal01 .modal {
  color: #fff;
}
#elementspmodal01 p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#elementspmodal01 h2 {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  display: inline-block;
  width: 172px;
  height: 200px;
  padding: 142px 23px 30px 23px;
  position: absolute;
  left: 0;
  font-size: 14px;
}
#elementspmodal01 h2 span.elementmodalalpha {
  font-size: 10px;
}
#elementspmodal01 p {
  font-size: 12px;
  line-height: 25px;
  position: absolute;
  top: 50vh;
  left: 27px;
  right: 13px;
  margin-bottom: 0;
}
#elementspmodal01 #elementsp001image {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#elementspmodal01 #elementsp001image1,
#elementspmodal01 #elementsp001image2,
#elementspmodal01 #elementsp001image3,
#elementspmodal01 #elementsp001image4 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  overflow: scroll;
}
#elementspmodal01 #elementsp001image1 {
  background-image: url("../images/wagyusp01.png");
  display: block;
}
#elementspmodal01 #elementsp001image2 {
  background-image: url("../images/wagyusp02.png");
  display: none;
}
#elementspmodal01 #elementsp001image3 {
  background-image: url("../images/wagyusp03.png");
  display: none;
}
#elementspmodal01 #elementsp001image4 {
  background-image: url("../images/wagyusp04.png");
  display: none;
}
/* #element002 modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #elementspmodal02 .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #elementspmodal02 .wrap h1{
    font-size: 70px;
  }
  #elementspmodal02 .wrap h1 span{
    color: #F42A54;
  }
  #elementspmodal02 .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #elementspmodal02 .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #elementspmodal02 .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #elementspmodal02 .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 20px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #elementspmodal02 .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #elementspmodal02 .wrap {
      width: 100%;
    }
  }
#elementspmodal02 .modal {
  color: #fff;
}
#elementspmodal02 p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#elementspmodal02 h2 {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  display: inline-block;
  width: 174px;
  height: 200px;
  padding: 142px 14px 30px 14px;
  position: absolute;
  left: 0;
  font-size: 14px;
}
#elementspmodal02 h2 span.elementmodalalpha {
  font-size: 10px;
}
#elementspmodal02 p {
  font-size: 12px;
  line-height: 25px;
  position: absolute;
  top: 50vh;
  left: 27px;
  right: 13px;
  margin-bottom: 0;
}
#elementspmodal02 #elementsp002image {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#elementspmodal02 #elementsp002image1,
#elementspmodal02 #elementsp002image2,
#elementspmodal02 #elementsp002image3,
#elementspmodal02 #elementsp002image4 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  overflow: scroll;
}
#elementspmodal02 #elementsp002image1 {
  background-image: url("../images/yasaisp01.png");
  display: block;
}
#elementspmodal02 #elementsp002image2 {
  background-image: url("../images/yasaisp02.png");
  display: none;
}
#elementspmodal02 #elementsp002image3 {
  background-image: url("../images/yasaisp03.png");
  display: none;
}
#elementspmodal02 #elementsp002image4 {
  background-image: url("../images/yasaisp04.png");
  display: none;
}
/* #element003 modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #elementspmodal03 .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #elementspmodal03 .wrap h1{
    font-size: 70px;
  }
  #elementspmodal03 .wrap h1 span{
    color: #F42A54;
  }
  #elementspmodal03 .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #elementspmodal03 .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #elementspmodal03 .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #elementspmodal03 .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 20px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #elementspmodal03 .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #elementspmodal03 .wrap {
      width: 100%;
    }
  }
#elementspmodal03 .modal {
  color: #fff;
}
#elementspmodal03 p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#elementspmodal03 h2 {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  display: inline-block;
  width: 172px;
  height: 200px;
  padding: 142px 23px 30px 23px;
  position: absolute;
  left: 0;
  font-size: 14px;
}
#elementspmodal03 h2 span.elementmodalalpha {
  font-size: 10px;
}
#elementspmodal03 p {
  font-size: 12px;
  line-height: 25px;
  position: absolute;
  top: 50vh;
  left: 27px;
  right: 13px;
  margin-bottom: 0;
}
#elementspmodal03 #elementsp003image {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#elementspmodal03 #elementsp003image1,
#elementspmodal03 #elementsp003image2,
#elementspmodal03 #elementsp003image3,
#elementspmodal03 #elementsp003image4 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  overflow: scroll;
}
#elementspmodal03 #elementsp003image1 {
  background-image: url("../images/nikusp01.png");
  display: block;
}
#elementspmodal03 #elementsp003image2 {
  background-image: url("../images/nikusp02.png");
  display: none;
}
#elementspmodal03 #elementsp003image3 {
  background-image: url("../images/nikusp03.png");
  display: none;
}
#elementspmodal03 #elementsp003image4 {
  background-image: url("../images/nikusp04.png");
  display: none;
}

/* #information */
#information {
  padding-top: 70px;
  margin-bottom: 240px;
}
#info-sp {
  display: block;
}
#info-sp h2 {
  font-size: 19px;
}
#info-sp .ttlnotes {
  font-size: 12px;
  letter-spacing: 5px;
}
#info-sp p {
  font-size: 12px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#infoleft {
  float: none;
  width: 168px;
  text-align: center;
  margin: 0 auto;
}
#infoleft img {
  width: 168px;
}
.slideshow {
  position: relative;
}
.slideshow img {
  width: 100%;
  height: auto;
  display: none;
  position: absolute;
  right: 0;
}
#inforight {
  float: none;
  width: auto;
  text-align: center;
  padding-top: 300px;
  padding-left: 0;
}
#inforight h2 {
  font-size: 17px;
  margin-bottom: 70px;
  display: none;
}
#inforight .ttlnotes {
  font-size: 12px;
}
.infoname {
  font-size: 14px;
}
#inforight p {
  font-size: 12px;
  margin-bottom: 44px;
  letter-spacing: 0.1em;
  line-height: 24px;
}
/* スマホ小 */
@media screen and (max-width:374px) {
  #inforight p {
    font-size: 11px;
  }
}
#inforight p:nth-of-type(1) {
  display: none;
}

/* footer */
footer {
  position: relative;
  height: 937px;
}
footer ul li {
  font-size: 12px;
  line-height: 14px;
}
footer ul li a {
  position: relative;
  display: inline-block;
  padding: .8em 0 1px 0;
  text-decoration: none;
}
footer ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
footer ul li a:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
footer h2 {
  font-size: 17px;
  margin-top: 120px;
  margin-bottom: 34px;
}
footer .ttlnotes {
  font-size: 11px;
}
#footershopinfo {
  margin-bottom: 250px;
  line-height: 24px;
}
/* スマホ小 */
@media screen and (max-width:374px) {
  #footershopinfo {
    font-size: 11px;
  }
}
#footerlogo {
  margin-bottom: 150px;
}
#footerlogo img {
  width: 55px;
  margin-bottom: 40px;
}

/* .button1 */
.button1 {
  position: relative;
  display: inline-block;
  padding: .9em 3.6em;
  /* border: 1px solid transparent; */
  /* color: transparent; */
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: all .6s;
}
.button1::before,
.button1::after {
  position: absolute;
  z-index: 2;
  content: '';
  width: 0;
  height: 0;
  border: 1px solid transparent;
}
.button1::before {
  top: -1px;
  left: -1px;
}
.button1::after {
  bottom: -1px;
  right: -1px;
}
.button1:link {
  color: #fff;
}
.button1:link::before,
.button1:link::after {
  width: 100%;
  height: 100%;
}
.button1:link::before {
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: height 0, width 0 0;
}
.button1:link::after {
  border-top-color: #fff;
  border-right-color: #fff;
  transition: height 0, width 0 0;
}
.button1:visited {
  color: #fff;
}
.button1:visited::before,
.button1:visited::after {
  width: 100%;
  height: 100%;
}
.button1:visited::before {
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: height 0, width 0 0;
}
.button1:visited::after {
  border-top-color: #fff;
  border-right-color: #fff;
  transition: height 0, width 0 0;
}
.button1:hover {
  color: #fff;
}
.button1:hover::before,
.button1:hover::after {
  width: 100%;
  height: 100%;
}
.button1:hover::before {
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: height .3s, width .3s .3s;
}
.button1:hover::after {
  border-top-color: #fff;
  border-right-color: #fff;
  transition: height .3s, width .3s .3s;
}
.button1:active {
  color: #fff;
}
.button1:active::before,
.button1:active::after {
  width: 100%;
  height: 100%;
}
.button1:active::before {
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: height 0, width 0 0;
}
.button1:active::after {
  border-top-color: #fff;
  border-right-color: #fff;
  transition: height 0, width 0 0;
}
.button1:focus {
  color: #fff;
}
.button1:focus::before,
.button1:focus::after {
  width: 100%;
  height: 100%;
}
.button1:focus::before {
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: height 0, width 0 0;
}
.button1:focus::after {
  border-top-color: #fff;
  border-right-color: #fff;
  transition: height 0, width 0 0;
}

/* 
全体のfontsize1pt上げる
mastercheffのfontsizeあげるかも
1330からPCに切り替えはなし
headerのナビの隙間広げる（最悪ホバー時の挙動なし）
header一画面
headerナビ日本語追加かホバー時に日本語
headerなびホバー時の挙動違和感出るならナシで
topsvgの位置調整
mainimage画像もっと大きく
ハルビンの物語を読むの上の文章少しfontsize上げる
CUISINEとかの見出しの文字２つくらい（１７くらい？）上げて日本語と距離広げる
ELEMENTの位置を上に上げる
mainimage75%
768pxから1023pxのCUISINE全体70%
*/