@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* layout */
* {
  box-sizing: border-box;
}
html,
body {
  font-family: YuMincho, 'Yu Mincho', serif;
	background-color: #000417;
	color: #fff;
	width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
	font-size: 15px;
	line-height: 20px;
  text-align: center;
  letter-spacing: 0.1em;
}
a {
	text-decoration: none;
  color: #fff;
}
.clear {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.brtb {
  display: none;
}
.brsp {
  display: none;
}
.displaypc {
  display: block;
}
.displaytb {
  display: none;
}
.displaysp {
  display: none;
}
.nondisplaysp {
  display: inline-block;
}
.nondisplay375 {
  display: inline-block;
}
.display375 {
  display: none;
}

/* .page */
.page {
  position: relative;
  height: auto;
  min-height: 100%;
  /* border-bottom: 1px solid red; */
  box-sizing: border-box;
}

/* #top-svg */
#top-svg {
  position: absolute;
  bottom: calc(-120vh - 380 / 768 * 100vw);
  width: 100%;
  height: 200%;
  background-image: url('../images/topline.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  background-position: center;
  pointer-events: none;
}

/* #center-svg */
/* #center-svg {
  position: absolute;
  top: calc(400% - 48vh);
  width: 100%;
  height: 200%;
  background-image: url('../images/centerline.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
#center-svg {
  position: relative;
  background-image: url('../images/centerline.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* #bottom-svg */
#bottom-svg {
  position: absolute;
  top: -200px;
  width: 100%;
  height: 150%;
  background-image: url('../images/footerline.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

/* #wrapper */
#wrapper {
  position: relative;
  height: 100%;
}

/* #gotop */
#gotop {
  position: fixed;
  display: none;
  right: 40px;
  bottom: 30px;
  cursor: pointer;
}
#gotop img {
  width: 50px;
  height: 50px;
}

/* header */
header {
	width: 100vw;
	min-width: 1024px;
}
header h1 {
	float: left;
	width: 50vw;
	min-width: 512px;
	text-align: right;
}
header h1 img {
	margin-top: calc(43vh + 32px);
  /* margin-top: 400px; */
	margin-right: 150px;
  width: 73px;
}
header nav {
	float: right;
	width: 50vw;
	min-width: 512px;
	text-align: left;
	margin-top: calc(43vh - 42px);
  /* margin-top: 330px; */
}
header nav ul {
	margin-left: 100px;
  font-size: 13px;
  line-height: 26px;
}
header nav#navya {
  position: relative;
  height: 210px;
  text-align: left;
}
header nav#navya ul {
  width: 200px;
  margin-left: 37px;
  font-size: 100%;
  font-weight: bold;
  position: absolute;
  top: 20px;
  z-index: 2;
  list-style: none;
}
header nav#navya ul li {
  margin-bottom: 0.8em;
  height: 1em;
}
header nav#navya ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  height: 27px;
  transition: opacity .5s;
}
header nav#navya span.navsankaku {
  width: 30px;
  height: 176px;
  display: block;
  background-image: url('../images/triangle.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 12px;
}
header nav#navya ul li a span.naven,
header nav#navya ul li a span.navja {
 display: block;
 width: 100%;
 position: absolute;
 transition: .5s;
}
header nav#navya ul li a span.naven {
 opacity: 1;
 color: #fff;
}
header nav#navya ul li a span.navja {
 opacity: 0;
 color: #fff;
}
header nav#navya ul li a:hover span.naven {
 opacity: 0;
}
header nav#navya ul li a:hover span.navja {
 opacity: 1;
}

/* #main */
#main {
  position: relative;
}
#main #main-content {
  width: 100%;
  z-index: 2;
  padding: 20vh 0;
}
#main #main-content img {
  width: 65%;
}

/* #about */
.bg-switcher {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about {
  padding-top: calc(120px + (100vw - 1440px) / 10);
}
#about #about-content p {
  font-size: 16px;
  line-height: 44px;
  margin-bottom: 172px;
}
#about .about-link-wrapper {
  width: 80%;
  height: 158px;
  display: block;
  margin: 0 auto;
  padding: 70px 0;
  background-image: url('../images/monogatari.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 5;
  position: relative;
  font-size: 13px;
  line-height: 28px;
}
#about .about-link-wrapper .about-link {
  position: relative;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}
#about .about-link-wrapper .about-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#about .about-link-wrapper .about-link:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

/* #about modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #about .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #about .wrap h1{
    font-size: 70px;
  }
  #about .wrap h1 span{
    color: #F42A54;
  }
  #about .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #about .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #about .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #about .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 21px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #about .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #about .wrap {
      width: 100%;
    }
  }

#about .modal {
  color: #fff;
}
#about p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#about #aboutimage {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#about #aboutimage1,
#about #aboutimage2,
#about #aboutimage3 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
}
#about #aboutimage1 {
  background-image: url("../images/story01.png");
  display: block;
}
#about #aboutimage2 {
  background-image: url("../images/story02.jpg");
  display: none;
}
#about #aboutimage3 {
  background-image: url("../images/story03.png");
  display: none;
}
#about #aboutimage p {
  padding-top: calc(50vh - 200px);
  padding-bottom: 20px;
  font-size: 15px;
  line-height: 29px;
}

/* #cuisine */
#cuisine {
  display: none;
  padding-top: 170px;
  /* width: 50%; */
  width: 604px;
  margin: 0 auto;
}
#cuisine h2 {
  font-size: 18px;
}
#cuisine .ttlnotes {
  font-size: 14px;
}
#cuisine ul {
  font-size: 0;
  margin-top: 50px;
}
#cuisine ul li {
  display: inline-block;
  /* width: 25%; */
  width: 142px;
  padding: 4.5px;
}
#cuisine ul li img {
  width: 100%;
  vertical-align: bottom;
}
#cuisine ul:hover li a:not(:hover) img {
  -webkit-filter: grayscale(100%);   // for Google Chrome and Safari
  -moz-filter: grayscale(100%);      // for Firefox
  -o-filter: grayscale(100%);        // for Oper
  -ms-filter: grayscale(100%);       // for Internet Explorer
  filter: grayscale(100%);
  /* transition: .3s ease; */
}
/* #cuisinemo */
#cuisinemo {
  display: block;
  padding-top: 170px;
  /* width: 50%; */
  width: 604px;
  margin: 0 auto;
}
#cuisinemo h2 {
  font-size: 18px;
}
#cuisinemo .ttlnotes {
  font-size: 14px;
}
#cuisinemo ul {
  font-size: 0;
  margin-top: 50px;
}
#cuisinemo ul li {
  display: inline-block;
  /* width: 25%; */
  width: 142px;
  padding: 4.5px;
}
#cuisinemo ul li img {
  width: 100%;
  vertical-align: bottom;
  cursor: pointer;
}
#cuisinemo ul:hover li a:not(:hover) img {
  -webkit-filter: grayscale(100%);   // for Google Chrome and Safari
  -moz-filter: grayscale(100%);      // for Firefox
  -o-filter: grayscale(100%);        // for Oper
  -ms-filter: grayscale(100%);       // for Internet Explorer
  filter: grayscale(100%);
  /* transition: .3s ease; */
}
/* #cuisinemo modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #cuisinemo .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #cuisinemo .wrap h1{
    font-size: 70px;
  }
  #cuisinemo .wrap h1 span{
    color: #F42A54;
  }
  #cuisinemo .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #cuisinemo .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #cuisinemo .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #cuisinemo .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 21px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #cuisinemo .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #cuisinemo .wrap {
      width: 100%;
    }
  }

#cuisinemo .modal {
  color: #fff;
}
#cuisinemo p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#cuisinemo #cuisinemoimage001,
#cuisinemo #cuisinemoimage002,
#cuisinemo #cuisinemoimage003,
#cuisinemo #cuisinemoimage004,
#cuisinemo #cuisinemoimage005,
#cuisinemo #cuisinemoimage006,
#cuisinemo #cuisinemoimage007,
#cuisinemo #cuisinemoimage008,
#cuisinemo #cuisinemoimage009,
#cuisinemo #cuisinemoimage010,
#cuisinemo #cuisinemoimage011,
#cuisinemo #cuisinemoimage012 {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#cuisinemo #cuisinemoimage1,
#cuisinemo #cuisinemoimage2,
#cuisinemo #cuisinemoimage3,
#cuisinemo #cuisinemoimage4,
#cuisinemo #cuisinemoimage5,
#cuisinemo #cuisinemoimage6,
#cuisinemo #cuisinemoimage7,
#cuisinemo #cuisinemoimage8,
#cuisinemo #cuisinemoimage9,
#cuisinemo #cuisinemoimage10,
#cuisinemo #cuisinemoimage11,
#cuisinemo #cuisinemoimage12 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
}
#cuisinemo #cuisinemoimage1 {
  background-image: url("../series/menu001.jpg");
  display: block;
}
#cuisinemo #cuisinemoimage2 {
  background-image: url("../series/menu002.jpg");
  display: block;
}
#cuisinemo #cuisinemoimage3 {
  background-image: url("../series/menu003.jpg");
  display: block;
}
#cuisinemo #cuisinemoimage4 {
  background-image: url("../series/menu004.jpg");
  display: block;
}
#cuisinemo #cuisinemoimage5 {
  background-image: url("../series/menu005.jpg");
  display: block;
}
#cuisinemo #cuisinemoimage6 {
  background-image: url("../series/menu006.jpg");
  display: block;
}
#cuisinemo #cuisinemoimage7 {
  background-image: url("../series/menu007.jpg");
  display: block;
}
#cuisinemo #cuisinemoimage8 {
  background-image: url("../series/menu008.png");
  display: block;
}
#cuisinemo #cuisinemoimage9 {
  background-image: url("../series/menu009.png");
  display: block;
}
#cuisinemo #cuisinemoimage10 {
  background-image: url("../series/menu010.png");
  display: block;
}
#cuisinemo #cuisinemoimage11 {
  background-image: url("../series/menu011.png");
  display: block;
}
#cuisinemo #cuisinemoimage12 {
  background-image: url("../series/menu012.png");
  display: block;
}

/* #cuisine-tb */
#cuisine-tb {
  display: none;
}

/* #cuisine-sp */
#cuisine-sp {
  display: none;
}

/* #mastercheff-spkari */
#mastercheff-spkari {
  display: none;
}

/* #matercheff-tb */
#mastercheff-tb {
  display: none;
}

/* #mastercheff */
#mastercheff {
  padding-top: 290px;
  padding-bottom: 510px;
}
#mastercheff h2 {
  font-size: 19px;
}
#mastercheff .ttlnotes {
  font-size: 13px;
}
#mastercheff p {
  margin-top: 40px;
  font-size: 12px;
}
#mastercheff > #master > #mastercontent > p {
  padding-left: 30px;
}
#mastercheff > #cheff > #cheffcontent > p {
  padding-right: 30px;
}
#mastercheff #mastermore-modalopenlabel,
#mastercheff #cheffmore-modalopenlabel {
  cursor: pointer;
  position: relative;
  padding: .4em;
  text-decoration: none;
}
#mastercheff #mastermore-modalopenlabel::after,
#mastercheff #cheffmore-modalopenlabel::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#mastercheff #mastermore-modalopenlabel:hover::after,
#mastercheff #cheffmore-modalopenlabel:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
#master h2#masterttl {
  float: left;
  /* width: 10vw; */
  width: 14vw;
  margin-top: 105px;
  line-height: 14px;
}
#mastercontent {
  float: left;
  /* width: 40vw; */
  width: 35vw;
  text-align: right;
}
/* #master modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #master .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #master .wrap h1{
    font-size: 70px;
  }
  #master .wrap h1 span{
    color: #F42A54;
  }
  #master .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #master .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #master .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #master .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 21px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #master .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #master .wrap {
      width: 100%;
    }
  }

#master .modal {
  color: #fff;
}
#master p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#master #masterimage {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#master #masterimage1 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
  background-image: url("../images/master.jpg");
  display: block;
  text-align: left;
  padding-left: 70px;
  padding-right: 70px;
  /* padding-top: 60vh; */
  /* padding-bottom: 50px; */
}
#master #masterimage h2 {
  display: inline-block;
  /* margin-top: 12px; */
  text-align: center;
  position: absolute;
  left: 70px;
  bottom: calc(4% + 125px + 70px);
}
#master #masterimage h2#mastermodalttl {
  position: absolute;
  left: 200px;
  margin-top: 0;
  bottom: calc(4% + 125px + 55px);
}
#master #masterimage p {
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 0;
  position: absolute;
  left: 70px;
  right: 70px;
  bottom: 4%;
}

#cheff h2#cheffttl {
  float: right;
  /* width: 10vw; */
  width: 14vw;
  margin-top: 105px;
  line-height: 14px;
}
#cheffcontent {
  float: right;
  /* width: 40vw; */
  width: 35vw;
  text-align: left;
}
/* #cheff modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #cheff .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #cheff .wrap h1{
    font-size: 70px;
  }
  #cheff .wrap h1 span{
    color: #F42A54;
  }
  #cheff .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #cheff .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #cheff .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #cheff .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 21px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #cheff .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #cheff .wrap {
      width: 100%;
    }
  }

#cheff .modal {
  color: #fff;
}
#cheff p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#cheff #cheffimage {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#cheff #cheffimage1 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
  background-image: url("../images/cheff.png");
  display: block;
  text-align: right;
  padding-left: 70px;
  padding-right: 70px;
  /* padding-top: 60vh; */
  /* padding-bottom: 50px; */
}
#cheff #cheffimage h2 {
  display: inline-block;
  text-align: center;
  position: absolute;
  right: 70px;
  bottom: calc(4% + 125px + 55px);
}
#cheff #cheffimage h2#cheffmodalttl {
  position: absolute;
  right: 220px;
  margin-top: 0;
  bottom: calc(4% + 125px + 70px);
}
#cheff #cheffimage p {
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 0;
  position: absolute;
  right: 70px;
  left: 70px;
  bottom: 4%;
}

/* #element */
#element {
  padding-top: 100px;
}
#element-tb {
  display: none;
}
#element-sp {
  display: none;
}
#element h2 {
  font-size: 19px;
}
#element .ttlnotes {
  font-size: 14px;
}
#element p {
  font-size: 15px;
  line-height: 30px;
  margin-top: 67px;
  margin-bottom: 122px;
}
#element ul {
  font-size: 0;
  /* width: 80%; */
  width: 1024px;
  height: 321px;
  letter-spacing: 0;
  margin: 0 auto;
  background-image: url('../images/recommend01.jpg'), url('../images/recommend02.png'), url('../images/recommend03.jpg');
  background-position: left bottom, center top, right bottom;
  background-size: calc(100% / 3);
  background-repeat: no-repeat;
}
#element li {
  display: inline-block;
  /* width: calc(33% - 30px * 2); */
  width: 193px;
  height: 256px;
  margin: 34px 74px;
  font-size: 15px;
  position: relative;
  border: 1px solid #fff;
}
#element li:hover {
  border: 1px solid transparent;
}
#element li > label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 0;
}
#element label span.elementkana {
  letter-spacing: 0.2em;
}
#element label span.elementalpha {
  font-size: 14px;
}
#element label.elementup span {
  position: relative;
  top: 34px;
}
#element label.elementdown span {
  position: relative;
  bottom: -182px;
}
/* #element001 modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #element001 .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #element001 .wrap h1{
    font-size: 70px;
  }
  #element001 .wrap h1 span{
    color: #F42A54;
  }
  #element001 .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #element001 .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #element001 .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #element001 .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 21px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #element001 .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #element001 .wrap {
      width: 100%;
    }
  }
#element001 .modal {
  color: #fff;
}
#element001 p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#element001 h2 {
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  display: inline-block;
  width: 200px;
  height: 270px;
  padding: 200px 30px 30px 30px;
  position: absolute;
  right: 308px;
  font-size: 15px;
}
#element001 p {
  font-size: 13px;
  line-height: 29px;
  position: absolute;
  top: 230px;
  right: 100px;
}
#element001 .elementmodal001kana {
  letter-spacing: 0.2em;
  font-size: 15px;
}
#element001 .elementmodal001alpha {
  font-size: 14px;
}
#element001 #element001image {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#element001 #element001image1,
#element001 #element001image2,
#element001 #element001image3,
#element001 #element001image4 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  overflow: scroll;
}
#element001 #element001image1 {
  background-image: url("../images/wagyu01.png");
  display: block;
}
#element001 #element001image2 {
  background-image: url("../images/wagyu02.png");
  display: none;
}
#element001 #element001image3 {
  background-image: url("../images/wagyu03.png");
  display: none;
}
#element001 #element001image4 {
  background-image: url("../images/wagyu04.png");
  display: none;
}
/* #element002 modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #element002 .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #element002 .wrap h1{
    font-size: 70px;
  }
  #element002 .wrap h1 span{
    color: #F42A54;
  }
  #element002 .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #element002 .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #element002 .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #element002 .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 21px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #element002 .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #element002 .wrap {
      width: 100%;
    }
  }
#element002 .modal {
  color: #fff;
}
#element002 p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#element002 h2 {
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  display: inline-block;
  width: 222px;
  height: 270px;
  padding: 200px 30px 30px 30px;
  position: absolute;
  left: 100px;
  font-size: 15px;
}
#element002 p {
  font-size: 13px;
  line-height: 29px;
  position: absolute;
  top: 230px;
  left: 131px;
}
#element002 .elementmodal002kana {
  letter-spacing: 0.2em;
  font-size: 15px;
}
#element002 .elementmodal002alpha {
  font-size: 14px;
}
#element002 #element002image {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#element002 #element002image1,
#element002 #element002image2,
#element002 #element002image3,
#element002 #element002image4 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  overflow: scroll;
}
#element002 #element002image1 {
  background-image: url("../images/yasai01.png");
  display: block;
}
#element002 #element002image2 {
  background-image: url("../images/yasai02.png");
  display: none;
}
#element002 #element002image3 {
  background-image: url("../images/yasai03.png");
  display: none;
}
#element002 #element002image4 {
  background-image: url("../images/yasai04.png");
  display: none;
}
/* #element003 modal */
  /*
  Author: Jorge Chavez
  Licence: MIT
  */
  #element003 .wrap{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }
  #element003 .wrap h1{
    font-size: 70px;
  }
  #element003 .wrap h1 span{
    color: #F42A54;
  }
  #element003 .contribute {
    position: fixed;
    right: -20px;
    top: 20px;
    width: 16em;
    height: 10em;
    overflow: hidden;
    transform: rotate(45deg);
  }
  #element003 .contribute p {
    padding: 3px;
    background-color: #444444;
  }
  #element003 .contribute p a {
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    display: block;
    color: white;
    text-decoration: none;
    padding: 2px 0px;
  }
  #element003 .open-modal {
    background-color: #3C3C3C;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #F42A54;
    color: white;
    font-size: 21px;
    padding: 10px;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 10px;
    border-top: 1px solid transparent;
    min-width: 150px;
  }
  #element003 .open-modal:hover {
    cursor: pointer;
    background-color: #E7E7E7;
    color: #3C3C3C;
    border-top: 1px solid #eEeeee;
    box-shadow: 0.2px 0.2px 2px #F42A54;
  }
  @media (max-width: 500px){
    #element003 .wrap {
      width: 100%;
    }
  }
#element003 .modal {
  color: #fff;
}
#element003 p.modalall {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  left: 50px;
}
#element003 h2 {
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  display: inline-block;
  width: 200px;
  height: 270px;
  padding: 200px 30px 30px 30px;
  position: absolute;
  right: 308px;
  font-size: 15px;
}
#element003 p {
  font-size: 13px;
  line-height: 29px;
  position: absolute;
  top: 230px;
  right: 138px;
}
#element003 .elementmodal003kana {
  letter-spacing: 0.2em;
  font-size: 15px;
}
#element003 .elementmodal003alpha {
  font-size: 14px;
}
#element003 #element003image {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
#element003 #element003image1,
#element003 #element003image2,
#element003 #element003image3,
#element003 #element003image4 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: calc(100%*1380/2230);
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  overflow: scroll;
}
#element003 #element003image1 {
  background-image: url("../images/niku01.png");
  display: block;
}
#element003 #element003image2 {
  background-image: url("../images/niku02.png");
  display: none;
}
#element003 #element003image3 {
  background-image: url("../images/niku03.png");
  display: none;
}
#element003 #element003image4 {
  background-image: url("../images/niku04.png");
  display: none;
}

/* #information */
#information {
  padding-top: 270px;
  margin-bottom: 820px;
}
#info-sp {
  display: none;
}
#infoleft {
  float: left;
  width: 50vw;
  text-align: right;
  padding-right: 60px;
}
#infoleft img {
  width: 267px;
}
.slideshow {
  position: relative;
}
.slideshow img {
  width: 100%;
  height: auto;
  display: none;
  position: absolute;
  right: 0;
}
#inforight {
  float: right;
  width: 50vw;
  text-align: left;
  padding-left: 60px;
}
#inforight h2 {
  font-size: 18px;
  margin-bottom: 70px;
}
#inforight .ttlnotes {
  font-size: 13px;
}
.infoname {
  font-size: 15px;
}
#inforight p {
  font-size: 13px;
  margin-bottom: 23px;
}

/* footer */
footer {
  position: relative;
}
footer ul li {
  font-size: 13px;
  line-height: 21px;
}
footer ul li a {
  position: relative;
  display: inline-block;
  padding: .8em 0 1px 0;
  text-decoration: none;
}
footer ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
footer ul li a:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
footer h2 {
  font-size: 18px;
  margin-top: 120px;
  margin-bottom: 120px;
}
footer .ttlnotes {
  font-size: 12px;
}
#footershopinfo {
  margin-bottom: 250px;
  line-height: 28px;
}
#footerlogo {
  margin-bottom: 321px;
}
#footerlogo img {
  width: 73px;
  margin-bottom: 40px;
}
#footerlogo span {
  font-size: 10px;
}

/* .button1 */
.button1 {
  position: relative;
  display: inline-block;
  padding: .9em 3.6em;
  /* border: 1px solid transparent; */
  /* color: transparent; */
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: all .6s;
}
.button1::before,
.button1::after {
  position: absolute;
  z-index: 2;
  content: '';
  width: 0;
  height: 0;
  border: 1px solid transparent;
}
.button1::before {
  top: -1px;
  left: -1px;
}
.button1::after {
  bottom: -1px;
  right: -1px;
}
.button1:link {
  color: #fff;
}
.button1:link::before,
.button1:link::after {
  width: 100%;
  height: 100%;
}
.button1:link::before {
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: height 0, width 0 0;
}
.button1:link::after {
  border-top-color: #fff;
  border-right-color: #fff;
  transition: height 0, width 0 0;
}
.button1:visited {
  color: #fff;
}
.button1:visited::before,
.button1:visited::after {
  width: 100%;
  height: 100%;
}
.button1:visited::before {
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: height 0, width 0 0;
}
.button1:visited::after {
  border-top-color: #fff;
  border-right-color: #fff;
  transition: height 0, width 0 0;
}
.button1:hover {
  color: #fff;
}
.button1:hover::before,
.button1:hover::after {
  width: 100%;
  height: 100%;
}
.button1:hover::before {
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: height .3s, width .3s .3s;
}
.button1:hover::after {
  border-top-color: #fff;
  border-right-color: #fff;
  transition: height .3s, width .3s .3s;
}
.button1:active {
  color: #fff;
}
.button1:active::before,
.button1:active::after {
  width: 100%;
  height: 100%;
}
.button1:active::before {
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: height 0, width 0 0;
}
.button1:active::after {
  border-top-color: #fff;
  border-right-color: #fff;
  transition: height 0, width 0 0;
}
.button1:focus {
  color: #fff;
}
.button1:focus::before,
.button1:focus::after {
  width: 100%;
  height: 100%;
}
.button1:focus::before {
  border-bottom-color: #fff;
  border-left-color: #fff;
  transition: height 0, width 0 0;
}
.button1:focus::after {
  border-top-color: #fff;
  border-right-color: #fff;
  transition: height 0, width 0 0;
}
